/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */



@media (min-width: 992px) {
  body {
    padding-top: 56px;
	padding-top: 54px;
	background: url(../imagens/backgroud/depositphotos_127512674-stock-photo-texture-of-wine-corks.jpg) fixed;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.imag_papel{
	height:260px;
	position:relative;
	background-image: url("../imagens/backgroud/papel_rasgado_verde.png");
    background-repeat: no-repeat;
}
.texto_imag{
	width: 80%;
	height:100%;
	margin-top:60px;
	margin-left:130px;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
	position:relative;
	
}

.text_branco{
	color:white;
	
}

.imag_bar{
	
	background-image: url("../imagens/backgroud/projeto-fibras-textura_1100-99.jpg");
    background-repeat: repeat;
    background-color: #C6FFAF;
}

.laranja{
	width:auto;
	background-color:#f7782a;
	padding:10px;
	}

.transp{
	width:auto;
	background-color:#f7782a;
	opacity:0.95;
	moz-opacity: 0.05;
	filter: alpha(opacity=95);
	}
	
.cab_princ {

	background-color: #9BD239;
	padding: 5px 5px 5px 20px;
	
}

.caixa_branca {

	background-color: white;
	padding: 5px 5px 5px 20px;
	
}

.caixa_branca10 {

	background-color: white;
	padding: 10px;
	
}


.fundTela {
	color: black;
	background-color: #9BD239;
	text-align:center;
	font-weight:bold;
	font-size:16pt;
	padding: 10px;
	border-radius: 10px;
}

.fdiv {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

<!-- login-->
#login-dp{
    min-width:500px;
    padding: 14px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 90%;
	margin:10px;
}
#login-dp .form-group {
    margin-bottom: 10px;
	padding:10px;
}
.btn-fb{
	
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}